/*Se que hay codigo repetitivo, por falta de tiempo 
no pude agrupar*/


/*-----------Estilo General-----------*/
html {
    scroll-behavior: smooth; 
}

h1 {   
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 100;
}


h2{
    background-color:#5f5f5f;
    color: white;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 20px;
}

h3{
    border-bottom:dashed 1px;
    padding-bottom: 10px;
    border-color:#5f5f5f;
    text-align: center;
    font-weight: 100;
}

/*-----------Encabezado-----------*/
header {
    text-align: center;
    border-bottom:2px solid;
    border-color: #1d1d1d;
}

nav ul{
    list-style-type: none;   
}

nav ul a{
    display: block; /*para que ocupe todo el espacio disponible*/
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    line-height: 40px;
    padding-left: 10px;
}

nav ul a:hover{
    background-color: #5f5f5f;
    color: white;
}

/*-----------Especialidades-----------*/

article {
    margin-bottom: 20px;
}

article a{
    display: block; 
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    line-height: 40px;
    padding-left: 10px;
    border:2px solid;
    border-color:#1d1d1d;
    width: 200px; 
}


article a:hover{
    background-color: white;
    color: #1d1d1d;
    border:2px solid;
    border-color:#1d1d1d;
}


/*-----------PanNuestro-----------*/

#panNuestro{
    background-image: url(../img/fondo.jpg);
    background-attachment: fixed;
    background-size: cover;
    height:700px;
}

#panNuestro div {
    justify-content: center;
    align-items: center;
    margin:0px 20px;
}

#panNuestro article{
    background: white;
    border-radius:  5px; 
    margin-top: 200px;
}

#panNuestro h1{
    font-size: 60px;
    border-bottom:dashed;
    padding-bottom: 10px;
    border-color:#5f5f5f;
    text-align: center;
    font-weight: 100;
}

/*-----------Newsletter-----------*/

#newsletter{
    margin-top: 50px;
    margin-bottom: 50px;
}

label, input{
    display:block;
    width: 100%;
    margin-top: 5px;
}

input[type=submit]{
    display: block; 
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    line-height: 20px;
    padding-left: 10px;
    border:2px solid;
    border-color:#1d1d1d;
    width: auto;
}

input[type=submit]:hover{
    background-color: white;
    color: #1d1d1d;
    border:2px solid;
    border-color:#1d1d1d;
}

/*-----------Pie-----------*/
footer {
    background: #5f5f5f;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}